@model WebApplication1.Models.PersonPassports

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PersonPassports</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonPassportId" />
            <div class="form-group">
                <label asp-for="Passport_Number" class="control-label"></label>
                <input asp-for="Passport_Number" class="form-control" />
                <span asp-validation-for="Passport_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authority" class="control-label"></label>
                <input asp-for="Authority" class="form-control" />
                <span asp-validation-for="Authority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_of_Issue" class="control-label"></label>
                <input asp-for="Date_of_Issue" class="form-control" />
                <span asp-validation-for="Date_of_Issue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_of_Expiry" class="control-label"></label>
                <input asp-for="Date_of_Expiry" class="form-control" />
                <span asp-validation-for="Date_of_Expiry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
