@model WebApplication1.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center d-inline-block">Edit</h1>

<h4 class="text-center d-inline-block">Person</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Edit" class="shadow p-3 mb-5 bg-white rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonId" />
            <div class="row">
                <!-- Column 1 -->
                <div class="col-md-6 mb-4">
                    <label asp-for="PersonName" class="control-label"></label>
                    <input asp-for="PersonName" class="form-control" />
                    <span asp-validation-for="PersonName" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-4">
                    <label asp-for="PersonSurname" class="control-label"></label>
                    <input asp-for="PersonSurname" class="form-control" />
                    <span asp-validation-for="PersonSurname" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-4">
                    <label asp-for="PersonSex" class="control-label"></label>

                    <div class="form-check">
                        <input type="radio" asp-for="PersonSex" class="form-check-input" value="Male" />
                        <label class="form-check-label">Male</label>
                    </div>

                    <div class="form-check">
                        <input type="radio" asp-for="PersonSex" class="form-check-input" value="Female" />
                        <label class="form-check-label">Female</label>
                    </div>

                    <span asp-validation-for="PersonSex" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-4">
                    <label asp-for="PersonDateOfBirth" class="control-label"></label>
                    <input asp-for="PersonDateOfBirth" class="form-control" type="date" />
                    <span asp-validation-for="PersonDateOfBirth" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <!-- Column 2 -->
                <div class="col-md-6 mb-4">
                    <label asp-for="PersonNationality" class="control-label"></label>
                    <input asp-for="PersonNationality" class="form-control" />
                    <span asp-validation-for="PersonNationality" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-4">
                    <label asp-for="RNKNumber" class="control-label"></label>
                    <input asp-for="RNKNumber" class="form-control" />
                    <span asp-validation-for="RNKNumber" class="text-danger"></span>
                </div>

            </div>

            <hr />
            <div class="row">
                <!-- Registration Place -->
                <div class="col-md-4 mb-4">
                    <label asp-for="RegistrationPlace.Country" class="control-label">Registration Country</label>
                    <input asp-for="RegistrationPlace.Country" class="form-control" />
                </div>
                <div class="col-md-4 mb-4">
                    <label asp-for="RegistrationPlace.Region" class="control-label">Registration Region</label>
                    <input asp-for="RegistrationPlace.Region" class="form-control" />
                </div>
                <div class="col-md-4 mb-4">
                    <label asp-for="RegistrationPlace.City" class="control-label">Registration City</label>
                    <input asp-for="RegistrationPlace.City" class="form-control" />
                </div>

                <!-- Birth Place -->
                <div class="col-md-4 mb-4">
                    <label asp-for="BirthPlace.Country" class="control-label">Birth Country</label>
                    <input asp-for="BirthPlace.Country" class="form-control" />
                </div>
                <div class="col-md-4 mb-4">
                    <label asp-for="BirthPlace.Region" class="control-label">Birth Region</label>
                    <input asp-for="BirthPlace.Region" class="form-control" />
                </div>
                <div class="col-md-4 mb-4">
                    <label asp-for="BirthPlace.City" class="control-label">Birth City</label>
                    <input asp-for="BirthPlace.City" class="form-control" />
                </div>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
